extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      h1 Project Gallary

      p.lead.text-light As a career developer and development manager, I have completed mulTiple projects. Below is a sample of projects that coer a broad range of topics from javascript fundimentals, object oriented programming, python to data science.


  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href= '/projects/' + project.id)
            img.thumbnail(src='' + project.project_thumbnail)
            h5 #{project.project_name}
